// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  width: 20rem;
  padding: 1%;
  margin: 1%;
  img {
    height: 15vw;
  }

}
